<div class="max-w-2xl mx-auto">
  <% batch = @batch_stocking.batch %>
  <% pond = @batch_stocking.pond %>
  <% unit = pond.unit %>

  <h1 class="text-2xl font-semibold text-gray-900 dark:text-gray-100">Editar evento</h1>
  <div class="mt-1 text-sm text-gray-600 dark:text-gray-300">
    <div><%= unit.name %></div>
    <div>Lote: <span class="font-medium"><%= batch.name %></span></div>
    <div>Tanque: <%= pond.name %></div>
  </div>

  <div class="mt-2 text-xs text-gray-500 dark:text-gray-400">
    <div><%= "Qtd. alojada: #{number_with_delimiter(@batch_stocking.quantity, delimiter: ".")}" if @batch_stocking.quantity.present? %></div>
    <div><%= "Peso inicial: #{@batch_stocking.avg_weight_g}g" if @batch_stocking.avg_weight_g.present? %></div>
    <div><%= "Fornecedor: #{@batch_stocking.supplier.name}" if @batch_stocking.supplier.present? %></div>
    <div><%= "Alojamento: #{l(@batch_stocking.stocked_on)}" if @batch_stocking.stocked_on.present? %></div>
    <div class="mt-3 flex flex-wrap gap-2">
      <span class="inline-flex items-center px-2 py-1 rounded-lg text-xs
                    bg-gray-100 text-gray-800 dark:bg-gray-800 dark:text-gray-200">
        Atual: <%= @batch_stocking.current_quantity.positive? ? number_with_delimiter(@batch_stocking.current_quantity, delimiter: ".") : "—" %>
      </span>

      <span class="inline-flex items-center px-2 py-1 rounded-lg text-xs
                    bg-gray-100 text-gray-800 dark:bg-gray-800 dark:text-gray-200">
        Biomassa: <%= @batch_stocking.current_biomass_kg.positive? ? number_with_precision(@batch_stocking.current_biomass_kg, precision: 2, separator: ",", delimiter: ".") : "—" %>
      </span>

      <span class="inline-flex items-center px-2 py-1 rounded-lg text-xs
                    bg-gray-100 text-gray-800 dark:bg-gray-800 dark:text-gray-200">
        Ganho: <%= @last_biometry_event&.weight_gain_kg.present? ? number_with_precision(@last_biometry_event.weight_gain_kg, precision: 2, separator: ",", delimiter: ".") : "—" %>
      </span>

      <span class="inline-flex items-center px-2 py-1 rounded-lg text-xs
                    bg-gray-100 text-gray-800 dark:bg-gray-800 dark:text-gray-200">
        GPD: <%= @last_biometry_event&.gpd.present? ? number_with_precision(@last_biometry_event.gpd, precision: 3, separator: ",", delimiter: ".") : "—" %>
      </span>

      <span class="inline-flex items-center px-2 py-1 rounded-lg text-xs
                    bg-gray-100 text-gray-800 dark:bg-gray-800 dark:text-gray-200">
        Peso: <%= @last_biometry_event&.avg_weight_g ? "#{number_with_precision(@last_biometry_event.avg_weight_g, precision: 2, separator: ",", delimiter: ".")}g" : "—" %>
      </span>
    </div>
  </div>

  <%= render "form" %>
</div>
